h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}
.container{
    position: relative;
}


.bg-image {
    width: auto;
    height: 704px;
    margin: auto;
    background: url(bg.png)  no-repeat;
    background-size: 100%;
}

h4{
    text-align: center;
    color: black;
}


.hidden-land{
    display: none;
}


@media (orientation: landscape){
    .hidden-land{
        display: block;
    }
}


.center-block {
    margin-top: 100px;
}

.botao{
     padding: 5px 12px; 
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 30px;
    color: #000;
    position: absolute;
    border: #000 1px solid;
    /* width: 5rem; */
    font-weight: bold;
}
.verde{        
    background-color: #89ce93;
}


.amarelo{
    background-color: #f9f18d;
}


.vermelho{
    background-color: #ff9fc1;
}

/* Media querys */

@media (min-width: 1281px) {
  
#sedis{
        margin: 20px auto;
    }

#lais{
    width: 180px;
    margin: 20px auto;
}

#ufrn{
    width: 180px;
    margin: 20px auto;
}
    #btn1 {
        top: 2px;
        left: 20px;
}

     #btn2{
        top: 28px;
        left: 35px;
}

    #btn3 {
        top: 67px;
        left: 57px;
}

    #btn4 {
        top: 100px;
        left: 86px;
    }

    #btn5 {
        top: 133px;
        left: 105px;
    }

    #btn6 {
        top: 170px;
        left: 131px;
    }

    #btn7 {
        top: 209px;
        left: 163px;
    }

    #btn8 {
        top: 242px;
        left: 178px;
    }

    #btn9 {
        top: 277px;
        left: 201px;
    }

    #btn10 {
        top: 311px;
        left: 220px;
    }

  }
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    #btn1 {
        top: 2px;
        left: 20px;
}

     #btn2{
        top: 28px;
        left: 35px;
}

    #btn3 {
        top: 67px;
        left: 57px;
}

    #btn4 {
        top: 100px;
        left: 86px;
    }

    #btn5 {
        top: 133px;
        left: 105px;
    }

    #btn6 {
        top: 170px;
        left: 131px;
    }

    #btn7 {
        top: 209px;
        left: 163px;
    }

    #btn8 {
        top: 242px;
        left: 178px;
    }

    #btn9 {
        top: 277px;
        left: 201px;
    }

    #btn10 {
        top: 311px;
        left: 220px;
    }
        
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    #btn1 {
        top: -2px;
        left: 20px;
}

     #btn2{
        top: 22px;
        left: 33px;
}

    #btn3 {
        top: 47px;
        left: 45px;
}

    #btn4 {
        top: 77px;
        left: 64px;
    }

    #btn5 {
        top: 104px;
        left: 84px;
    }
    #btn6 {
        top: 140px;
        left: 108px;
    }

    #btn7 {
        top: 167px;
        left: 126px;
    }

    #btn8 {
        top: 191px;
        left: 141px;
    }

    #btn9 {
        top: 218px;
        left: 163px;
    }

    #btn10 {
        top: 252px;
        left: 169px;
    }
    
  }
  
  

  @media (min-width: 481px) and (max-width: 767px) { /* OKAY */
    
    #btn1 {
        top: -2px;
        left: 20px;
}

     #btn2{
        top: 14px;
        left: 31px;
}

    #btn3 {
        top: 28px;
        left: 31px;
}

    #btn4 {
        top: 49px;
        left: 45px;
    }

    #btn5 {
        top: 62px;
        left: 45px;
    }

    #btn6 {
        top: 81px;
        left: 60px;
    }

    #btn7 {
        top: 96px;
        left: 79px;
    }

    #btn8 {
        top: 115px;
        left: 80px;
    }

    #btn9 {
        top: 131px;
        left: 87px;
    }

    #btn10 {
        top: 146px;
        left: 92px;
    }
    
  }
    
  
  
   @media (min-width: 320px) and (max-width: 480px) {
    #btn1 {
        top: -2px;
        left: 20px;
}

     #btn2{
        top: 14px;
        left: 31px;
}

    #btn3 {
        top: 28px;
        left: 31px;
}

    #btn4 {
        top: 49px;
        left: 45px;
    }

    #btn5 {
        top: 62px;
        left: 45px;
    }

    #btn6 {
        top: 81px;
        left: 60px;
    }

    #btn7 {
    top: 100px;
    left: 74px;
    }

    #btn8 {
        top: 122px;
        left: 90px;
    }

    #btn9 {
        top: 128px;
        left: 93px;
    }

    #btn10 {
        top: 154px;
        left: 97px;
    }
    
  }
  @media (max-width: 767px) and (min-width: 481px){

    #btn1 {
        top: -2px;
        left: 20px;
}

     #btn2{
        top: 14px;
        left: 31px;
}

    #btn3 {
        top: 28px;
        left: 31px;
}

    #btn4 {
        top: 57px;
        left: 52px;
    }

    #btn5 {
    top: 75px;
    left: 66px;
}

    #btn6 {
        top: 96px;
        left: 69px;
    }

    #btn7 {
    top: 115px;
    left: 79px;
}

    #btn8 {
        top: 132px;
        left: 101px;
    }

    #btn9 {
        top: 149px;
        left: 112px;
}
    
    #btn10 {
        top: 167px;
        left: 113px;
    }
    
  }
    
  
  
   @media (min-width: 320px) and (max-width: 480px) {
    #btn1 {
        top: -2px;
        left: 20px;
}

     #btn2{
        top: 14px;
        left: 31px;
}

    #btn3 {
        top: 28px;
        left: 31px;
}

    #btn4 {
        top: 49px;
        left: 45px;
    }

    #btn5 {
        top: 62px;
        left: 45px;
    }

    #btn6 {
        top: 81px;
        left: 60px;
    }

    #btn7 {
    top: 100px;
    left: 74px;
    }

    #btn8 {
        top: 122px;
        left: 90px;
    }

    #btn9 {
        top: 128px;
        left: 93px;
    }

    #btn10 {
        top: 154px;
        left: 97px;
    }
    
  }


@media screen and (max-width:640px ) {
    .bg-image {

            width: auto;
            height: 706px;
            margin: auto;
            background: url(bg.png) no-repeat;
            background-size: 100%;
    }
}

@media (min-width: 375px) and (max-width: 812px){ /* i phonex */


    
    #btn1 {
        top: -2px;
        left: 20px;
}

     #btn2{
        top: 14px;
        left: 31px; 
}

    #btn3 {
        top: 28px;
        left: 31px;
}

    #btn4 {
        top: 49px;
        left: 45px;
    }

    #btn5 {
        top: 72px;
        left: 66px;
    }

    #btn6 {
        top: 98px;
        left: 78px;
    }

    #btn7 {
        top: 117px;
        left: 87px;
    }

    #btn8 {
        top: 143px;
        left: 100px;
    }

    #btn9 {
        top: 162px;
        left: 114px;
    }

    #btn10 {   
        top: 180px;
        left: 116px;
    }
  }


/*  */

@media (min-width: 441px) and (max-width: 823px){ /* pixel XL */

    #sedis{
        margin: -200px auto;
    }

#lais{
    width: 180px;
    margin: -200px auto;
}

#ufrn{
    width: 180px;
    margin: -200px auto;
}



    #btn1 {
        top: -2px;
        left: 20px;
}

     #btn2{
        top: 14px;
        left: 31px;
}

    #btn3 {
        top: 28px;
        left: 31px;
}

    #btn4 {
        top: 50px;
        left: 45px;
    }

    #btn5 {
        top: 74px;
        left: 66px;
    }

    #btn6 {
        top: 100px;
        left: 78px;
    }

    #btn7 {
        top: 117px;
        left: 87px;
    }

    #btn8 {
        top: 143px;
        left: 100px;
    }

    #btn9 {
        top: 162px;
        left: 114px;
    }

    #btn10 {   
        top: 186px;
        left: 116px;
    }
  }



  /* I phone 5- SE */

  @media (min-width: 320px) and (max-width: 568px){ /* pixel XL */
    #btn1 {
        top: -2px;
        left: 20px;
}

     #btn2{
        top: 14px;
        left: 31px;
}

    #btn3 {
        top: 28px;
        left: 31px;
}

    #btn4 {
        top: 50px;
        left: 45px;
    }

    #btn5 {
    top: 63px;
    left: 45px;
}

    #btn6 {
        top: 81px;
        left: 61px;
    }

    #btn7 {
        top: 98px;
        left: 76px;
    }

    #btn8 {
    top: 116px;
    left: 84px;
}

    #btn9 {
    top: 133px;
    left: 92px;
}

    #btn10 {   
        top: 147px;
        left: 92px;
    }
  }
